.banner{
    background-image:url(/web-desing-amrin/html/my-images/purple-img-bg.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    padding: 200px 0;

}
.skills-padding{
    padding:70px 0;
}